/_build
/.elixir_ls
/.vscode/chrome
/cover
/deps
erl_crash.dump
*.ez

/apps/platemail_web/lib/platemail_web/app/priv/app/node_modules
/apps/platemail_web/lib/platemail_web/app/priv/app/npm-debug.log*
/apps/platemail_web/lib/platemail_web/app/priv/app/yarn-debug.log*
/apps/platemail_web/lib/platemail_web/app/priv/app/yarn-error.log*

# App artifacts
/apps/platemail/_build
/apps/platemail/db
/apps/platemail/deps
/apps/platemail/*.ez
/apps/platemail/.elixir_ls

# Generated on crash by the VM
/apps/platemail/erl_crash.dump

# Files matching config/*.secret.exs pattern contain sensitive
# data and you should not commit them into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets files as long as you replace their contents by environment
# variables.
/apps/platemail/config/*.secret.exs

# testing
/apps/platemail/priv/app/coverage

# production
/apps/platemail/priv/app/build

# misc
/apps/platemail/priv/app/.DS_Store
/apps/platemail/priv/app/.env.local
/apps/platemail/priv/app/.env.development.local
/apps/platemail/priv/app/.env.test.local
/apps/platemail/priv/app/.env.production.local

/apps/platemail_web/lib/platemail_web/app/node_modules
/apps/platemail_web/lib/platemail_web/app/npm-debug.log*
/apps/platemail_web/lib/platemail_web/app/yarn-debug.log*
/apps/platemail_web/lib/platemail_web/app/yarn-error.log*
