# === GENERAL ===

.vscode/chrome

# === API ===

/api/_build
/api/.elixir_ls
/api/cover
/api/deps
/api/erl_crash.dump
/api/*.ez
/api/.envrc

/api/apps/platemail/_build
/api/apps/platemail/db
/api/apps/platemail/deps
/api/apps/platemail/*.ez
/api/apps/platemail/.elixir_ls

/api/apps/platemail/config/*.secret.exs
/api/apps/platemail/priv/app/coverage
/api/apps/platemail/priv/app/build
/api/apps/platemail/priv/app/.DS_Store
/api/apps/platemail/priv/app/.env.local
/api/apps/platemail/priv/app/.env.development.local
/api/apps/platemail/priv/app/.env.test.local
/api/apps/platemail/priv/app/.env.production.local

/api/apps/platemail_web/priv/static/static
/api/apps/platemail_web/priv/static/swagger.json
/api/apps/platemail_web/priv/static/webapp
/api/apps/platemail_web/priv/static/css

# Generated on crash by the VM
/api/apps/platemail/erl_crash.dump

# === UI ===

/ui/node_modules
/ui/npm-debug.log*
/ui/yarn-debug.log*
/ui/yarn-error.log*
/ui/build

# === OPS ===

/ops/terraform/.terraform
/ops/terraform/.terraform/*
/ops/terraform/terraform.tfstate
/ops/terraform/terraform.tfstate.backup
/ops/terraform/variables.tf