.button {
  padding: $spacing-sm;
  background: none;
  background-color: transparent;
  color: $color-primary;
  border: solid $border-width-base $color-primary;
  border-radius: $border-radius-sm;

  @include floating-light;
  @include clickable($color-primary-very-light);
}
