.card {
  @include bordered;
  @include floating;
  @include fade-in;

  margin: $spacing-md;
  padding: $spacing-md;

  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.clickable {
  @include clickable(transparent);
  @include focus-margin($spacing-md);
}

.card.wide {
  padding: $spacing-md $spacing-xxl;
}

.card.main-content {
  margin: 0px !important;

  @include desktop {
    margin: $spacing-md !important;
  }
}
