.button {
  padding: $spacing-sm;
  background: none;
  background-color: $color-primary;
  color: $white;
  border: none;
  border-radius: $border-radius-sm;

  @include clickable($color-primary-light);
}
